* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 390px;
  height: 67px;
  background: rgba(139,213,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 326px;
  color: rgba(255,250,250,1);
  position: absolute;
  top: 18px;
  left: 50px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_6 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 38px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_7 {
  width: 252px;
  color: rgba(254,39,233,1);
  position: absolute;
  top: 233px;
  left: 69px;
  font-family: JejuHallasan;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 366px;
  left: 64px;
  font-family: Kapakana;
  font-weight: Regular;
  font-size: 128px;
  opacity: 1;
  text-align: left;
}
.v2_2 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 545px;
  left: 38px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
